.wrapper {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background: #0000006b;
  z-index: 999;
  position: fixed;
  top: 0;
}
.content {
  width: 30%;
  position: absolute;
  padding: 30px;
  display: flex;
  top: 30%;
  align-items: center;
  left: 50%;
  justify-content: space-around;
  background: #fff;
  border: 1px solid #5e5e5e;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  &::after {
    content: 'X';
    position: absolute;
    top: -22px;
    right: -15px;
    color: white;
    font-size: 24px;
    font-weight: 100;
    cursor: pointer;
    font-family: fantasy;
    pointer-events: none;
  }
}
